################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
