################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/Habita-.slnx/FileContentIndex/0d9c15a2-3602-499f-8dde-6492137aae16.vsidx
/.vs/Habita-.slnx/FileContentIndex/315c251f-f293-4cfc-86b9-4ae762f4a78b.vsidx
/.vs/Habita-.slnx/FileContentIndex/6269c475-70ff-490c-b25f-4204ee236aba.vsidx
/.vs/Habita-.slnx/FileContentIndex/64a8b2de-deb1-48c4-a93b-1389db1500ff.vsidx
/.vs/Habita-.slnx/FileContentIndex/9a82b579-ee5c-4722-a1ed-68c2662704ec.vsidx
/.vs/Habita-.slnx/FileContentIndex/feda388e-ef84-4d10-982b-1d05335d5283.vsidx
/.vs/Habita-.slnx/v18/.wsuo
/.vs/Habita-.slnx/v18/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
/Animal.cs
